body {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

.background {
    width: 60%;
}

.profile {
    display: flex;
    flex-direction: row;
}

.profile > div {
    padding: 10px;
}

.portrait {
    width: 150px;
}

.thumbnail {
    height: 350px;
}

.thumbnail_small {
    height: 250px;
}

.thumbnail_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.thumbnail_box {
    padding: 10px;
    text-align: center;
}

.thumbnail_description {
    text-align: center;
}