    *{
        margin: 0px;
    }
    h2{
        text-align: center;
    }
    header{
        background-color:rgb(164, 245, 245);
        width: 80%;
        padding-bottom: 70px;
    }
    section{
        background-color:rgb(152, 209, 209);
        width: 80%;
        padding-bottom: 70px;
    }
    footer{
        background-color:rgb(164, 245, 245);
        width: 80%;
        overflow: hidden;
        padding-bottom: 10px;
    }
    nav{
        background-color:rgb(169, 236, 236);
        text-align: center;
        margin: 0px;
        padding: 20px 10px;
        position: fixed;
        right: 30px;
        bottom: 30px;
    }
    .a:link {
        color: white;
    }

    .a:visited {
        color: white;
    }

    .a:hover {
        color: white;
    }

    .a:active {
        color: white;
    }
    h3{
        color: white;
    }
